
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&family=League+Spartan:wght@700&display=swap');


:root {
    /* Primary */

--Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);

/* ### Neutral */

--Offwhite: hsl(36, 100%, 99%);
--Grayishblue: hsl(233, 8%, 79%);
--Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
}

  body {
    font-family: 'Inter', sans-serif;
    color: var(--Verydarkblue);
    
  }


  p {
    font-size: 15px;
    font-weight: 400;
  }

  button {
    background-color: var(--Softred);
    border: none;
    color: var(--Offwhite);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    letter-spacing: 0.2rem;

  }